<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>shop.BillServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/BillServlet</url-pattern>
    </servlet-mapping>
    <servlet>
<servlet-name>UpdateStockServlet</servlet-name>
<servlet-class>shop.UpdateStockServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UpdateStockServlet</servlet-name>
<url-pattern>/UpdateStockServlet</url-pattern>
</servlet-mapping>

</web-app>